@import "catppuccin-mocha.css";

window.bar {
	background-color: @base;
	color: white;
	font-size: 13px;
}

.bar-window {
	margin-top: 2px;
	margin-bottom: 2px;
}

button {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.os-icon {
	font-size: 1.5em;
	padding-left: 8px;
	padding-right: 8px;
}

button:hover.os-icon {
	background-color: transparent;
}

.outer-workspace {
	background-color: rgba(255, 255, 255, 0.075);
	border-radius: 20px;
	margin: 2px;
	padding: 4px;
}

.workspace {
	background-color: rgba(255, 255, 255, 0.15);
	/* padding: 0; */
}

.workspace button {
	background-color: transparent;
	padding-left: 4px;
	padding-right: 4px;
}

.workspace.first {
	border-radius: 20px 0 0 20px;
}
.workspace.last {
	border-radius: 0 20px 20px 0;
}

.workspace.normal,
.workspace button.normal {
	background-color: transparent;
	color: @base;
}

.workspace button.normal:hover {
	border-radius: 20px;
	background-color: @mauve;
	color: @base;
}

.workspace button.focused {
	background-color: @mauve;
	color: @base;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 20px;
}

.workspace button.focused:hover {
	border-radius: 20px;
	color: @mauve;
	background-color: @base;
}

.workspace button.occupied {
	color: @mauve;
}

.workspaces button.occupied:hover {
	border-radius: 20px;
	background-color: @mauve;
	color: @base;
}

.workspace.occupied-single {
	border-radius: 20px;
}

.workspace.occupied-start {
	border-radius: 20px 0 0 20px;
}

.workspace.occupied-middle {
	border-radius: 0px;
}

.workspace.occupied-end {
	border-radius: 0px 20px 20px 0px;
}

.active-client {
	color: @mauve;
	padding-left: 32px;
	padding-right: 32px;
	border-radius: 8px;
}

.client button {
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.8em;
}

.client button:hover {
	background-color: @mauve;
}

.box {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
}

.date-time {
	color: @mauve;
}

.time {
	font-size: 1.3em;
}

.date {
	font-size: 0.9em;
}

.icon {
	font-size: 1.1em;
}

.tray-icon {
	padding-left: 4px;
	padding-right: 4px;
}

.tray-box {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
}

.volume-icon-muted {
	color: @base;
}

.volume {
	color: @white;
}

.critical {
	color: @red;
}

.high {
	color: @peach;
}

.medium-high {
	color: @yellow;
}

.medium {
	color: @teal;
}

.low {
	color: @green;
}

.disabled {
	color: @gray;
}

window.notification-popups box.notifications {
	padding: 0.25em;
}

.notification-icon {
	min-width: 64px;
	min-height: 64px;
	margin-right: 0.75em;
}

.notification-icon image {
	font-size: 4.5em;
	/* to center the icon */
	margin: 5px;
	color: @text;
}

.notification-icon box {
	min-width: 64px;
	min-height: 64px;
	border-radius: 8px;
}

.notification {
	min-width: 350px;
	min-height: 100px;
	border-radius: 0 12px 0 12px;
	padding: 1em;
	margin: 0.5em;
	border-bottom: 5px solid @green;
	background-color: @base;
}

.notification.critical {
	border-bottom: 5px solid @red;
}

.notification-title {
	color: @text;
	font-weight: bold;
	font-size: 1.4em;
}

.notification-body {
	margin-top: 0.25em;
	font-weight: 600;
	color: @subtext1;
}

.notification-actions .notification-action {
	margin-right: 0.4em;
	margin-left: 0.4em;
	margin-top: 0.8em;
}

.notification-actions .notification-action:first-child {
	margin-left: 0;
}

.notification-actions .notification-action:last-child {
	margin-right: 0;
}

.label {
	color: @mauve;
}
