# Ignore secrets
*secret*

# Ignore histories
*history*

# Ignore all .DS_Store files (common in macOS)
.DS_Store

# Ignore node_modules directory
node_modules/
npm*
yarn*

# Ignore all files with .env extension
*.env

# Ignore all .log files
logs
*.log

# Ignore build artifacts
/dist
/build

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# temp files
.temp
.cache
assets